<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>TwiTerra</string>
	<key>CFBundleIconFile</key>
	<string>TwiTerra</string>
	<key>CFBundleIdentifier</key>
	<string>com.twiterra.retweetglobe.TwiTerra</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>TwiTerra</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>Java</key>
	<dict>
		<key>ClassPath</key>
		<array>
			<string>$JAVAROOT/jogl/jogl.jar</string>
			<string>$JAVAROOT/jogl/gluegen-rt.jar</string>
			<string>$JAVAROOT/TwiTerra.jar</string>
		</array>
		<key>JVMVersion</key>
		<string>1.5+</string>
		<key>MainClass</key>
		<string>com.twiterra.retweetglobe.TwiTerraApp</string>
		<key>Properties</key>
		<dict>
			<key>apple.laf.useScreenMenuBar</key>
			<string>true</string>
			<key>java.library.path</key>
			<string>$JAVAROOT/jogl</string>
		</dict>
		<key>WorkingDirectory</key>
		<string>$APP_PACKAGE/Contents/Resources/Java</string>
	</dict>
	<key>LSUIPresentationMode</key>
	<integer>4</integer>
</dict>
</plist>
